
/* COMMMON ELEMENTS ACROSS PAGES */

        body {
            margin: 0;
            min-height: 100vh;
    /*      border: 3px red solid;   */     /*  border to show the MAIN container   */
            font-family: Avenir, Arial, Helvetica, sans-serif;
        }


        .wrapper {
            min-height: 100vh;
            background-color: black;
        }

/* HEADER - ALL PAGES */

        header {
            text-align: center;          
            background-color: rgb(252, 239, 250);
            padding-top: 12px;
            margin: 0px;
        }


/* NAVIGATION MENU - ALL PAGES */

        nav li {
            list-style-type: none;         /* removes bullets from the list */
            background-color: black;
            padding-left: 10px;           /* added this to put space between the links */
            padding-right: 10px;          /* added this to put space between the links */

        }

        nav a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 25px;   
            display: block;       /* this is a new addition */

                
        }

        nav a:hover {
            color: palegoldenrod;
            background-color: rgb(28, 65, 54); 
        }
        
        nav ul {
            padding: 0px;                /* removes padding to the black bar */
            margin: 0;                   /* closes the gap between the black nav menu and the header 1's blue bar */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: black;   /* creates a horizontal black bar */
        }


/* MAIN - ALL PAGES */

        main {
            background-color: white;
    /*      border: 5px rgb(117, 128, 52) solid;   */     /*  border to show the MAIN container   */
            display: grid;
            justify-content: center;
        }

        img.stretchy {
            width: 100%;
        }        


/* FOOTER - ALL PAGES */

        footer {
            display: flex;
            justify-content: center;
            background-color: black;
            color: white;
            padding: 12px;
        }



/* INDIVIDUAL PAGE STYLING */

/* ABOUT PAGE  */

        article.about {
            display: grid;
            justify-content: center;   /* positions article content in the center */
            padding: 3rem;
            max-width: 75%;
        }

        article.about > h1 {
/*      text-align: center;   */  /* centers just the h1 title */
        }

    

/* RESUME PAGE */

        main.resume {
            display: grid;
            grid-template-columns: 1fr 3fr;   /* divides resume main into 2 columns */
            gap: .5rem;
            background-color: rgb(255, 255, 255);
        }

        main.resume > article {
            background-color: rgb(255, 255, 255);
            padding: 2rem;
            padding-left: 3rem;

        }

        main.resume h2 {
            font-size: 1rem;
            padding-top: .8rem;
        }

        main.resume aside {
            background-color: rgb(25, 45, 75);
            display: grid;
            justify-content: right;
    /*    align-items: center;      */
            padding: 1.5rem;
            border-right: .5px solid black;

        }

        .thumbnail {
            height: 18rem;
        }

        main.resume article {
            padding-bottom: 2rem;
            padding-right: 2rem;
            max-width: 43rem;
        }


        /* CONTACT PAGE */

